# Ignore environment variable files
*.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Python egg metadata
*.egg-info/
dist/
build/

# AWS credentials (if you ever export to file accidentally)
.aws/
